* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  color: black;
  background-color: transparent;
}

body {
  background-color: white;
}

button:hover {
  background-color: limegreen;
}

input::placeholder {
  color: #b0b0b0;
}

.TaskHeader {
  font-size: 48px;
  padding: 0.5em;
  background-color: darkgray;
}

.TaskHeader-title {
  font-size: inherit;
  text-align: center;
  text-transform: uppercase;
}

.WorldClock {
  padding: 20px;
}

.ClockAddForm {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ClockAddForm * {
  display: block;
}

.ClockAddForm input, .ClockAddForm button {
  padding: 0.3em 0.5em;
  border: 1px solid black;
}

.ClockAddForm button {
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.ClockAddForm-error {
  margin: 0.5em 1em;
  color: red;
}

.ClockInput {
  margin-right: 2em;
}

.ClockInput p {
  margin: 0 0 0.3em 1em;
}

.WorldClock-clocks {
  display: flex;
  flex-wrap: wrap;
}

.Clock {
  margin-right: 3em;
}

.Clock-title {
  text-align: center;
}

.ClockFace {
  position: relative;
  width: 7em;
  height: 7em;
  margin: 0.5em 0;
  border: 1px solid black;
  border-radius: 50%;
}

.ClockFace-button {
  position: absolute;
  top: -0.75em;
  right: -0.75em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
}

.ClockNumbers {
  text-align: center;
}




